@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Link your Next.js font variables to Tailwind names */
  --font-heading: var(--font-quicksand);
  --font-body: var(--font-heebo);

  --color-primary-white: #FFFFFF;
  --color-secondary: #F5F5F5;
  --color-accent-100: #FFA500;
  --color-text: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* custom css added,, */
.entry-content > * {
  display: block !important;
  float: none !important;
  width: 100% !important;
  margin-bottom: 1.5rem;
}

/* Force specific list behavior */
.entry-content ul, 
.entry-content ol {
  display: flex !important;
  flex-direction: column !important;
  list-style: disc outside !important;
  padding-left: 2rem !important;
}

.entry-content li {
  display: list-item !important;
  width: auto !important;
}

/* Fix Row/Group blocks */
.wp-block-group.is-layout-flex, 
.wp-block-row {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}